<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/portfolio_index_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css"">
	<meta charset="utf-8">
	<title>My Portfolio</title>
</head>
<body>
	<p id="title">Completed Pages</p>
	<div class="wrap_center">
		<a class="btn" href="/caesar_cipher">Caesar Cipher</a>
		<a class="btn" href="/mastermind">Mastermind</a>
	</div>

	<p class="footer">&copy; Caio Neves</p>
</body>
</html>