<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/mastermind_styles.css"">
	<link rel="stylesheet" type="text/css" href="styles/styles.css"">
	<meta charset="utf-8">
	<title>Mastermind</title>
</head>
<body>
	<p id="title">Mastermind</p>
	<p class="wrap_center"><a class="btn" href="/mastermind">New Game</a></p>
	<p class=" wrap_center counter">X30</p>
	<div  class="wrap_center">
		<table class="wrap_center">
			<% for i in 0..board_x%>
				<tr>
					<%for j in 0..board_y%>
						<td class="circle clickable" data-color=<%=board[i][j]%>></td>
					<%end%>
				</tr>
			<%end%>
		</table>
	</div>

	<div class="wrap_center">
		<%for i in 0..colors.length-1%>
			<a href="#" class="circle" 
			style="background-color: <%=colors[i]%>;"
			data-color=<%=colors[i]%>>				
			</a>
		<%end%>
	</div>
		
	<p class="wrap_center"><a class="btn" href="/">Back</a></p>

	<p class="footer">&copy; Caio Neves </p>
	<script type="text/javascript" src="javascript/jquery.js"></script>
	<script type="text/javascript" src="javascript/mastermind.js"></script>
</body>
</html>