<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/icon.png">
	<link rel="stylesheet" type="text/css" href="styles/sketchpad_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<meta charset="utf-8">
	<title>SketchPad</title>
</head>
<body>
	<div id="grid_input">
		<button class="clear_button btn_local">Clear</button> 
		<button class="submit_button btn_local">Resolution</button> 
	</div>
	
	<div id ="main_square">
		
	</div>

	<div class="wrap_center"><a class="btn" href="/">Back</a></div>


	<p class="footer">&copy; Caio Neves - 2017</p>
	<script type="text/javascript" src="javascript/jquery.js"></script>
	<script type="text/javascript" src="javascript/sketch.js"></script>
</body>
</html>