
#title{
	margin: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	font-family: 'Romanesco', cursive;
}

input{
	margin: 15px;
}

input.number{
	margin: 15px;
	width: 40px;
}

label{
	font-size: 35px;
	font-family: 'Romanesco', cursive;
}

.encoded{
	font-size: 40px;
	font-family: 'Romanesco', cursive;
}

